{% extends "base.html" %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/home-bg2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Hello! {{user.login}}</h1>
                        <hr class="small">
                        <span class="subheading">Welcome to microblog</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Main Content -->
    <div class="container">
        {% if reg_error %}
            <h3>{{reg_error}}</h3>
        {% endif %}
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
                <form mothod="POST">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="inputTitle">Title</label>
                            <input id="inputTitle" name="inputTitle" type="text" class="form-control" placeholder="Title" required data-validation-required-message="Please enter a title.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label for="inputText">Text</label>
                            <input id="inputText" name ="inputText" rows="5" class="form-control" type ="text" placeholder="Message" required data-validation-required-message="Please enter a message."></input>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



      {% for kek in keks %}
          {{kek.title}}
      {% endfor %}

{% endblock %}