{% extends "base.html" %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('static/img/post-bg2.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>{{user.login}}'s posts</h1>
                        <hr class="small">
                        <span class="subheading">Hello, world!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

 <!-- Main Content -->
    {% for post in posts %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.text}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a>{{user.login}}</a> on {{post.timestamp}}
                        <br>
                        <a href="{{ url_for('delete', id = post.id) }}">{{ ('Delete') }}</a>
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}